server:
  servlet:
    contextPath: /
    mappings:
      properties: "/1.0/properties"
      create: "/1.0/create"
      update: "/1.0/update"
      deactivate: "/1.0/deactivate"
      methods: "/1.0/methods"
  port: '9080'
spring:
  profiles:
    active: ${uniregistrar_web_spring_profiles_active}
uniregistrar:
  drivers:
    - method: btcr
      url: http://driver-did-btcr:9080/
      propertiesEndpoint: 'true'
    - method: sov
      url: http://driver-did-sov:9080/
      propertiesEndpoint: 'true'
    - method: v1
      url: http://driver-did-v1:9080/
      propertiesEndpoint: 'true'
    - method: key
      url: http://driver-did-key:9080/
    - method: ion
      url: http://driver-did-ion:9080/
      propertiesEndpoint: 'true'
    - method: web
      url: http://driver-did-web:9080/
      propertiesEndpoint: 'true'
    - method: ebsi
      url: http://driver-did-ebsi:9080/
      propertiesEndpoint: 'true'
    - method: oyd
      url: http://driver-did-oyd:3000/
      propertiesEndpoint: 'true'
    - method: cheqd
      url: http://driver-did-cheqd:3000/
      propertiesEndpoint: 'true'
    - method: ethr
      url: http://driver-did-ethr:9080/ethr/
      propertiesEndpoint: 'true'
