<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- UNIVERSAL REGISTRAR SERVLET -->

	<bean name="UniRegistrar" class="uniregistrar.local.LocalUniRegistrar" factory-method="fromConfigFile">
		<constructor-arg value="./config.json" />
		<property name="extensions">
			<util:list>
				<bean class="uniregistrar.local.extensions.impl.DummyExtension" />
			</util:list>
		</property>
	</bean>

	<bean name="RegisterServlet" class="uniregistrar.web.servlet.RegisterServlet">
		<property name="uniRegistrar" ref="UniRegistrar" />
	</bean>

	<bean name="UpdateServlet" class="uniregistrar.web.servlet.UpdateServlet">
		<property name="uniRegistrar" ref="UniRegistrar" />
	</bean>

	<bean name="DeactivateServlet" class="uniregistrar.web.servlet.DeactivateServlet">
		<property name="uniRegistrar" ref="UniRegistrar" />
	</bean>

	<bean name="PropertiesServlet" class="uniregistrar.web.servlet.PropertiesServlet">
		<property name="uniRegistrar" ref="UniRegistrar" />
	</bean>

</beans>
