<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- UNIVERSAL REGISTRAR SERVLET -->

	<bean name="UniRegistrar" class="uniregistrar.local.LocalUniRegistrar">
		<property name="drivers">
			<util:map>
				<entry key="did:btcr"><ref bean="DidBtcrDriver" /></entry>
				<entry key="did:sov"><ref bean="DidSovDriver" /></entry>
				<entry key="did:v1"><ref bean="DidV1Driver" /></entry>
			</util:map>
		</property>
	</bean>

	<bean name="RegisterServlet" class="uniregistrar.web.servlet.RegisterServlet">
		<property name="uniRegistrar" ref="UniRegistrar" />
	</bean>

	<bean name="UpdateServlet" class="uniregistrar.web.servlet.UpdateServlet">
		<property name="uniRegistrar" ref="UniRegistrar" />
	</bean>

	<bean name="DeactivateServlet" class="uniregistrar.web.servlet.DeactivateServlet">
		<property name="uniRegistrar" ref="UniRegistrar" />
	</bean>

	<bean name="PropertiesServlet" class="uniregistrar.web.servlet.PropertiesServlet">
		<property name="uniRegistrar" ref="UniRegistrar" />
	</bean>

	<!-- DRIVERS (VIA DOCKER REST API) -->

	<bean id="DidBtcrDriver" class="uniregistrar.driver.http.HttpDriver">
		<property name="registerUri" value="http://driver-did-btcr:8080/1.0/register" />
		<property name="updateUri" value="http://driver-did-btcr:8080/1.0/update" />
		<property name="deactivateUri" value="http://driver-did-btcr:8080/1.0/deactivate" />
		<property name="propertiesUri" value="http://driver-did-btcr:8080/1.0/properties" />
	</bean>

	<bean id="DidSovDriver" class="uniregistrar.driver.http.HttpDriver">
		<property name="registerUri" value="http://driver-did-sov:8080/1.0/register" />
		<property name="updateUri" value="http://driver-did-sov:8080/1.0/update" />
		<property name="deactivateUri" value="http://driver-did-sov:8080/1.0/deactivate" />
		<property name="propertiesUri" value="http://driver-did-sov:8080/1.0/properties" />
	</bean>

	<bean id="DidV1Driver" class="uniregistrar.driver.http.HttpDriver">
		<property name="registerUri" value="http://driver-did-v1:8080/1.0/register" />
		<property name="updateUri" value="http://driver-did-v1:8080/1.0/update" />
		<property name="deactivateUri" value="http://driver-did-v1:8080/1.0/deactivate" />
		<property name="propertiesUri" value="http://driver-did-v1:8080/1.0/properties" />
	</bean>

</beans>
